@model MediaBazar.Models.Content
@{
    ViewBag.Title = "EditContent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>EditContent</h2>

<form action="" method="post">

    <input type="hidden" name="CId" value="@Model.Cid" />

    <input type="text" class="form-control" name="Name" value="@(Model != null ? Model.Name : "")" placeholder="Name" />
    @Html.ValidationMessage("Name", new { @class = "text-danger" })<br />

    <input type="text" class="form-control" name="Type" value="@(Model != null ? Model.Type : "")" placeholder="Type" />
    @Html.ValidationMessage("Type", new { @class = "text-danger" })<br />

    <input type="text" class="form-control" name="Path" value="@(Model != null ? Model.Path : "")" placeholder="Path" />
    @Html.ValidationMessage("Path", new { @class = "text-danger" })<br />

    <div class="form-group">
        <label for="formFile" class="form-label mt-4">Default file input example</label>
        <input class="form-control" type="file" id="myfile" accept="video/mp4" name="Path" value="@(Model != null ? Model.Path : "")" placeholder="Path">
        @Html.ValidationMessage("Path", new { @class = "text-danger" })<br />
    </div>

    

    <input type="submit" value="Update" class="btn btn-success" />

    <a class="btn btn-danger" href="/Dashboard/Delete/@Model.Cid" role="button">Delete</a>

</form>